---
openapi: 3.0.1
info:
  title: Unblu Web API
  description: Unblu Web API v4
  version: 8.4.2
servers:
- url: https://unblu.cloud/app/rest/v4
security:
- basicAuth: []
tags:
- name: Accounts
  description: With this service the accounts of the unblu system can be managed. Most of the provided interface needs super admin permissions. Especially if the edited account is not the one of the current user.<br>
- name: ApiKeys
  description: With this service the api keys can be managed
- name: Audit
  description: Service to search the audit log entries.
- name: Authenticator
  description: Service to log in with a user or to switch to other accounts/users by impersonating them
- name: Availability
- name: Avatars
  description: "With this service, the avatar pictures can be managed."
- name: Bots
  description: Service to manage all kind of bots. Additionally the bots use this service to interact with a conversation/dialog.
- name: Calls
  description: Manages all `Call`s
- name: CannedResponses
  description: "Service to manage canned responses.<br> The canned responses a user can edit and the ones they can use in chats can differ. The ones they can edit depend on their role. The ones they can use in a chat depend on their role as well as the team setup. Refer to the following policies for the list of canned responses available for chat: <ul> <li>All canned responses of the own user.</li> <li>All canned responses of the team cascade (the user's team and all of its parent teams)</li> <li>All canned responses of the subteams if role is: SUPERVISOR or higher.</li> <li>All canned responses of all teams if role is: ADMIN or higher.</li> <li>All canned responses of the users account.</li> </ul> Compare that to list of policies for creating, editing, and deleting canned responses: <ul> <li>All canned responses of the own user.</li> <li>All canned responses of the subteams if role is: SUPERVISOR or higher.</li> <li>All canned responses of all teams if role is: ADMIN or higher.</li> <li>All canned responses of the users account if role is: ADMIN or higher.</li> <li></li> </ul>"
- name: CannedResponsesUsage
  description: Service for Canned Response Usage
- name: ConversationHistory
  description: Service to get the history of conversations
- name: ConversationTemplates
  description: Service to manage all conversation templates.
- name: Conversations
  description: Service to manage conversations
- name: CustomActions
  description: Service for Custom Actions
- name: DeputyRelationships
  description: Service to manage deputy relationships. A deputy relationship is needed if deputy delegation should be executed for unhandled conversation requests.
- name: Domains
  description: Service to manage the domains of the account. A domain needs to be defined to use unblu on it.
- name: ExternalMessengerContacts
  description: Storage service to manage `ExternalMessengerContact`s
- name: ExternalMessengers
  description: Manages all types of `ExternalMessengerChannel` and can be used to send messages from external messengers to a Collaboration Server conversation
- name: FileUploadGlobalInterceptors
  description: Service to manage global file upload interceptors. Global file upload interceptors also use this service to interact with Unblu.
- name: FileUploadInterceptors
  description: Service to manage file upload interceptors. File upload interceptors also use this service to interact with Unblu.
- name: Global
  description: With this service the global Unblu system can be managed.<br> <br> For super-admin the Global object can be expanded to set configuration or translations.
- name: Invitations
  description: Service to manage conversation invitations
- name: MessageInterceptors
  description: "Service to manage message interceptors. Some operations are only valid for some types of message interceptor. Where that is the case, the operation's documentation states which types it applies to."
- name: NamedAreas
  description: Service to manage named areas.
- name: PersonLabels
  description: Storage service for `PersonLabel`
- name: PersonPresences
  description: Service to access person presences
- name: PersonVisibilityRules
  description: Service to access person visibility rules
- name: Persons
  description: Service to manage virtual or bot persons
- name: RecordRetention
  description: Service for loading and updating the record retention configuration. The configuration is account-specific.
- name: SuggestionSources
  description: Service to manage all kind of suggestion sources.
- name: Teams
  description: "Service to manage all teams in the system. For each account there is always a default team, which users are assigned to, when no explicit team is set."
- name: Users
  description: "Service to manage all users in the system. Most of the service's endpoints to read, list, or search for users exclude virtual visitors from the results. If an endpoint returns virtual visitors, it is noted in the endpoint's description."
- name: WebhookRegistrations
  description: Service to manage all webhook registrations
paths:
  /accounts/create:
    post:
      tags:
      - Accounts
      summary: create
      description: "Creates the given entity in the system. The ID of the entity is ignored for create operations, a new one is generated.<br>"
      operationId: accountsCreate
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
            examples:
              request-body:
                summary: request body
                description: Create an Account with translations of the name for it
                value:
                  $_type: Account
                  id: null
                  creationTimestamp: null
                  modificationTimestamp: null
                  version: null
                  name: with-translations-test
                  avatar: null
                  translations:
                    de:
                      $_type: AccountTranslation
                      id: null
                      name: Kreditanstalt
                      description: null
                    en:
                      $_type: AccountTranslation
                      id: null
                      name: Loan bank
                      description: null
                  configuration: null
                  metadata: null
                  text: null
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                response-body:
                  summary: response body
                  description: Create an Account with translations of the name for it
                  value:
                    $_type: Account
                    id: A7d9E_0-c3cC4aoFDb85t6n
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    name: with-translations-test
                    avatar: null
                    translations:
                      de:
                        $_type: AccountTranslation
                        id: IO4wYQFeQ2y86kxBWrKaBQ
                        name: Kreditanstalt
                        description: null
                      en:
                        $_type: AccountTranslation
                        id: IO4wYQFeQ2y86kxBWrKaBQ
                        name: Loan bank
                        description: null
                    configuration: null
                    metadata: null
                    text: null
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/createAccountWithNewAdmin:
    post:
      tags:
      - Accounts
      summary: createAccountWithNewAdmin
      description: Create a new account with a new admin which will receive an email with the initial password.<br>
      operationId: accountsCreateAccountWithNewAdmin
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: the new account and admin user information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUserContainer'
            examples:
              request-body:
                summary: request body
                description: Create an Account and an Admin user for it
                value:
                  $_type: AccountUserContainer
                  account:
                    $_type: Account
                    id: null
                    creationTimestamp: null
                    modificationTimestamp: null
                    version: null
                    name: with-admin-test
                    avatar: null
                    translations: null
                    configuration: null
                    metadata: null
                    text: null
                  adminUser:
                    $_type: User
                    id: null
                    creationTimestamp: null
                    modificationTimestamp: null
                    version: null
                    accountId: null
                    avatar: null
                    username: test@email.com
                    email: test@email.com
                    phone: null
                    teamId: null
                    authorizationRole: ADMIN
                    displayName: J. Doe
                    firstName: John
                    lastName: Doe
                    externallyManaged: null
                    virtualUser: null
                    configuration: null
                    metadata: null
        required: true
      responses:
        "200":
          description: the created Account and User in the container object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUserContainer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/{accountId}/delete:
    delete:
      tags:
      - Accounts
      summary: delete
      description: Deletes the account with the given ID<br>
      operationId: accountsDelete
      parameters:
      - name: accountId
        in: path
        description: The ID of the account which should be deleted
        required: true
        schema:
          type: string
        style: simple
        explode: false
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/{accountId}/disableAccountIngress:
    post:
      tags:
      - Accounts
      summary: disableAccountIngress
      description: "Disables ingress for the given account. <p> Calling this method triggers the ingress deactivation process. This consists of a single step: <ol> <li>Migrate all users of the account to be managed through the built-in Unblu user management system. </ol> Successfully completing the deactivation process changes the `getMigrationStatus` to DONE_INGRESS_INACTIVE and the`getIngressStatus` to GLOBAL<br> If the deactivation process fails, `getMigrationStatus` changes to ERROR.<br> In such a case, use `readIngressStatus` to retrieve the current status and find the potential source of the problems. <p> Once you've resolved the issues that caused the deactivation process to fail, use `restartIngressMigration` to restart the process.<br>"
      operationId: accountsDisableAccountIngress
      parameters:
      - name: accountId
        in: path
        description: The ID of the account for which ingress should be disabled
        required: true
        schema:
          type: string
        style: simple
        explode: false
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/{accountId}/enableAccountIngress:
    post:
      tags:
      - Accounts
      summary: enableAccountIngress
      description: "Enables ingress for the given account. Before calling this method, you must have configured ingress correctly. <p> Calling this method triggers the ingress activation process. The process consists of the following steps: <ol> <li>Migrate all the users of the account to be managed through ingress single sign-on (SSO). <li>Check and apply all ingress-related configuration properties. </ol> Successfully completing the activation process changes the `getMigrationStatus` to DONE_INGRESS_ACTIVE and the`getIngressStatus` to ACCOUNT<br> If the activation process fails, the `getMigrationStatus` changes to ERROR.<br> In such a case, use `readIngressStatus` to retrieve the current status and find the potential source of the problems. </p> If the process failed because of an invalid configuration, ingress is automatically activated once the configuration has been rectified.<br> If there was an issue during migration, use `restartIngressMigration` to restart the process once you've resolved all migration issues.<br>"
      operationId: accountsEnableAccountIngress
      parameters:
      - name: accountId
        in: path
        description: The ID of the account for which ingress should be enabled
        required: true
        schema:
          type: string
        style: simple
        explode: false
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/{accountId}/getAccountSecret:
    get:
      tags:
      - Accounts
      summary: getAccountSecret
      description: Returns the account secret for the given account ID. <p> Only superadmins can call this endpoint for accounts other than their own.<br>
      operationId: accountsGetAccountSecret
      parameters:
      - name: accountId
        in: path
        description: The ID of the account the secret belongs to
        required: true
        schema:
          type: string
        style: simple
        explode: false
      responses:
        "200":
          description: The account secret belonging to the given account ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSecret'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /accounts/getByName:
    get:
      tags:
      - Accounts
      summary: getByName
      description: "Returns an account by the given name or an error, if there is no such account<br>"
      operationId: accountsGetByName
      parameters:
      - name: name
        in: query
        description: The name of the account which should be returned
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The account for the given name or an error if none is found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/getCurrentAccount:
    get:
      tags:
      - Accounts
      summary: getCurrentAccount
      description: Returns the account object of the current logged in user<br>
      operationId: accountsGetCurrentAccount
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The account of the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - REGISTERED_USER
  /accounts/{accountId}/getIngressStatus:
    get:
      tags:
      - Accounts
      summary: getIngressStatus
      description: Returns the current state of the account ingress configuration. <p> Use `enableAccountIngress` to enable account ingress. <p> Use `disableAccountIngress` to disable account ingress.<br>
      operationId: accountsGetIngressStatus
      parameters:
      - name: accountId
        in: path
        description: The ID of the account for which the status should be returned
        required: true
        schema:
          type: string
        style: simple
        explode: false
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountIngressStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /accounts/getQuotaUsage:
    get:
      tags:
      - Accounts
      summary: getQuotaUsage
      description: "Calculates the quota usage values and their corresponding limits for API keys, domains, teams, and users in the current account.<br>"
      operationId: accountsGetQuotaUsage
      responses:
        "200":
          description: "The API key, domain, team, and user quota usage values and their corresponding quota limits."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountQuotaUsageData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPERVISOR
  /accounts/{accountId}/getRecordedMinutes:
    get:
      tags:
      - Accounts
      summary: getRecordedMinutes
      description: "Returns the total length of all conversation recordings made between the given dates over all accounts. If there were no recordings in the given time, the return value is 0. <p> Only superadmins can call this endpoint for accounts other than their own.<br>"
      operationId: accountsGetRecordedMinutes
      parameters:
      - name: accountId
        in: path
        description: The ID of the account to get the total length of all conversation recordings for.
        required: true
        schema:
          type: string
        style: simple
        explode: false
      - name: fromTime
        in: query
        description: Date from which to count the conversation recording length. The value is rounded to the beginning of the day.
        required: false
        schema:
          type: integer
          format: int64
        style: form
        explode: true
      - name: toTime
        in: query
        description: Date to which to count the conversation recording length. The value is rounded to the end of the day.
        required: false
        schema:
          type: integer
          format: int64
        style: form
        explode: true
      responses:
        "200":
          description: Total length of all conversation recordings in minutes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordedMinutesData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /accounts/{accountId}/read:
    get:
      tags:
      - Accounts
      summary: read
      description: Returns the account with the given ID<br>
      operationId: accountsRead
      parameters:
      - name: accountId
        in: path
        description: ID of the account which should be returned
        required: true
        schema:
          type: string
        style: simple
        explode: false
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The account with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/readMultiple:
    post:
      tags:
      - Accounts
      summary: readMultiple
      description: Gets a list of accounts with the given IDs. IDs that can't be found are ignored.<br>
      operationId: accountsReadMultiple
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The IDs of the accounts to fetch
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of accounts matching the IDs provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/{accountId}/restartIngressMigration:
    post:
      tags:
      - Accounts
      summary: restartIngressMigration
      description: "Retries the ingress migration process for the given account. This is necessary when main_account#ingress_migration_status is ERROR. <p> When the service is executed, it updates the ingress_activation_status to MIGRATING. This causes the ingress migration leader selection task to resume the migration.<br>"
      operationId: accountsRestartIngressMigration
      parameters:
      - name: accountId
        in: path
        description: The ID of the account for which the ingress migration should be restarted
        required: true
        schema:
          type: string
        style: simple
        explode: false
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/search:
    post:
      tags:
      - Accounts
      summary: search
      description: Search for accounts<br>
      operationId: accountsSearch
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountQuery'
        required: true
      responses:
        "200":
          description: the result list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/update:
    post:
      tags:
      - Accounts
      summary: update
      description: "Allows to update the current account as admin. If user is super admin, he can also update other accounts<br>"
      operationId: accountsUpdate
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The account entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        required: true
      responses:
        "200":
          description: The updated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/create:
    post:
      tags:
      - ApiKeys
      summary: create
      description: "Creates the given entity in the system. The ID of the entity is ignored for create operations, a new one is generated.<br>"
      operationId: apiKeysCreate
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/{apiKeyId}/delete:
    delete:
      tags:
      - ApiKeys
      summary: delete
      description: Deletes the API key with the given ID<br>
      operationId: apiKeysDelete
      parameters:
      - name: apiKeyId
        in: path
        description: The ID of the API key which should be deleted
        required: true
        schema:
          type: string
        style: simple
        explode: false
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/getByKey:
    get:
      tags:
      - ApiKeys
      summary: getByKey
      description: Returns the api key object for the given api key string in the current account<br>
      operationId: apiKeysGetByKey
      parameters:
      - name: apiKey
        in: query
        description: The api key for which the object should be returned
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The api key object for the given key string or an error if none is found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/getDefault:
    get:
      tags:
      - ApiKeys
      summary: getDefault
      description: Returns the default API key for the current account<br>
      operationId: apiKeysGetDefault
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The default API key for the current account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/{apiKeyId}/read:
    get:
      tags:
      - ApiKeys
      summary: read
      description: Returns the API key with the given ID<br>
      operationId: apiKeysRead
      parameters:
      - name: apiKeyId
        in: path
        description: ID of the API key which should be returned
        required: true
        schema:
          type: string
        style: simple
        explode: false
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The API key with the given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/readMultiple:
    post:
      tags:
      - ApiKeys
      summary: readMultiple
      description: Gets a list of API keys with the given IDs. IDs that can't be found are ignored.<br>
      operationId: apiKeysReadMultiple
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The IDs of the API keys to fetch
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of API keys matching the IDs provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyList'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/search:
    post:
      tags:
      - ApiKeys
      summary: search
      description: Search for api keys in the current account<br>
      operationId: apiKeysSearch
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/update:
    post:
      tags:
      - ApiKeys
      summary: update
      description: Updates the entity in the system with the given entity.<br>
      operationId: apiKeysUpdate
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        required: true
      responses:
        "200":
          description: The updated version of the entity. Use always this instance for further processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /audit/search:
    post:
      tags:
      - Audit
      summary: search
      description: Search for audit log entries <ul> <li>of database entities in the current account for ADMIN role user. <li>of global owner type entities and account entities for SUPERADMIN role user. </ul><br>
      operationId: auditSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditChangeQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditChangeResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
      - SUPER_ADMIN
  /authenticator/authenticateWithToken:
    get:
      tags:
      - Authenticator
      summary: authenticateWithToken
      description: Authentication using a previously created authentication token from (`createAuthenticationToken`). Will create an authentication session if authentication succeeds (includes setting an authentication cookie)<br>
      operationId: authenticatorAuthenticateWithToken
      parameters:
      - name: authenticationToken
        in: query
        description: token to login with
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: redirectOnSuccess
        in: query
        description: redirection URL when the operation is successful
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: redirectOnFailure
        in: query
        description: redirection URL when the operation is not successful
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "200":
          description: "True, if authentication succeeded, false otherwise"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/createAuthenticationToken:
    post:
      tags:
      - Authenticator
      summary: createAuthenticationToken
      description: "Creates a new authentication token, which can later be used for login.<br>"
      operationId: authenticatorCreateAuthenticationToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorCreateAuthenticationTokenBody'
            examples:
              request-body:
                summary: request body
                description: Create a token for a given username and password
                value:
                  username: r@email.com
                  password: L0remPf18!
        required: true
      responses:
        "200":
          description: "An authentication token, which can later be used for login."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationTokenCreationResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/createAuthenticationTokenForCurrentUser:
    post:
      tags:
      - Authenticator
      summary: createAuthenticationTokenForCurrentUser
      description: Creates a new authentication token for the current logged in user.<br>
      operationId: authenticatorCreateAuthenticationTokenForCurrentUser
      responses:
        "200":
          description: "An authentication token, which can later be used for login."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationTokenCreationResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - WEBUSER
  /authenticator/getCurrentPerson:
    get:
      tags:
      - Authenticator
      summary: getCurrentPerson
      description: Returns the current person<br>
      operationId: authenticatorGetCurrentPerson
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The person of the current logged in user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/impersonate:
    post:
      tags:
      - Authenticator
      summary: impersonate
      description: Impersonates with another user either via username or userid (one of the two may be null).<br>
      operationId: authenticatorImpersonate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorImpersonateBody'
            examples:
              request-body:
                summary: request body
                description: Impersonate as user 'admin' without keeping the superadmin rights
                value:
                  username: admin
                  userId: null
                  keepRole: false
                  redirectOnSuccess: null
                  redirectOnFailure: null
        required: true
      responses:
        "200":
          description: "LoginResult with success true if impersonation was successful, false otherwise"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /authenticator/login:
    post:
      tags:
      - Authenticator
      summary: login
      description: Login using username and password credentials. Will create an authentication session if login succeeds (includes setting an authentication cookie)<br>
      operationId: authenticatorLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorLoginBody'
            examples:
              request-body:
                summary: request body
                description: Login with username and password
                value:
                  username: r@email.com
                  password: L0remPf18!
                  redirectOnSuccess: null
                  redirectOnFailure: null
        required: true
      responses:
        "200":
          description: "true, if login succeeded, false otherwise"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/loginWithSecureToken:
    post:
      tags:
      - Authenticator
      summary: loginWithSecureToken
      description: "Start a session using a signed JWT as the login credentials. A logout token can be provided in the claim set of the signed JWT. This logout token is stored in the authentication session to be used later for the `logoutWithSecureToken` call. A new user with the role WEBUSER is created automatically. If authentication is successful, the response includes an authentication cookie; the response body is empty. <code>x-unblu-apikey</code> is a mandatory GET parameter for this operation, even though it is not part of the OpenAPI specification."
      operationId: authenticatorLoginWithSecureToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureTokenRequest'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/logout:
    post:
      tags:
      - Authenticator
      summary: logout
      description: Call this to logout (clear internal session and session cookie on response)<br>
      operationId: authenticatorLogout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorLogoutBody'
            examples:
              request-body:
                summary: request body
                description: Logout with a redirection to unblu.com
                value:
                  redirectOnSuccess: https://unblu.com/
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/logoutWithSecureToken:
    post:
      tags:
      - Authenticator
      summary: logoutWithSecureToken
      description: "Call this to log out using a signed JWT containing the logout token in the claim set. Use this to allow backend server(s) to log out from visitor SSO. <code>x-unblu-apikey</code> is a mandatory GET parameter for this operation, even though it is not part of the OpenAPI specification."
      operationId: authenticatorLogoutWithSecureToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureTokenRequest'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/resetImpersonation:
    post:
      tags:
      - Authenticator
      summary: resetImpersonation
      description: Resets the current impersonation. Will do nothing if there is no impersonation.<br>
      operationId: authenticatorResetImpersonation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorResetImpersonationBody'
            examples:
              request-body:
                summary: request body
                description: Reset impersonation and redirect to the Global Configuration page on success
                value:
                  redirectOnSuccess: /app/config-global
                  redirectOnFailure: null
        required: true
      responses:
        "200":
          description: "true, if removing of the impersonation worked fine, false otherwise"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - REGISTERED_USER
  /authenticator/setDefaultLocale:
    post:
      tags:
      - Authenticator
      summary: setDefaultLocale
      description: "Changes the language of the current user. It is stored also in the returned cookies<br> Note: A reload should be done afterwards.<br>"
      operationId: authenticatorSetDefaultLocale
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorSetDefaultLocaleBody'
            examples:
              request-body:
                summary: request body
                description: Change the default locale to french
                value:
                  locale: fr
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/switchToAccount:
    post:
      tags:
      - Authenticator
      summary: switchToAccount
      description: "Switches the account in a given authentication session. If successful, the user is treated, as if he/she was a member of the target account.<br>"
      operationId: authenticatorSwitchToAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorSwitchToAccountBody'
            examples:
              request-body:
                summary: request body
                description: Switch to account with a redirect to the Account Configuration page on success
                value:
                  accountId: A7d9E_0-c3cC4aoFDb85t6n
                  redirectOnSuccess: /app/config-account
                  redirectOnFailure: null
        required: true
      responses:
        "200":
          description: "true, if impersonate worked fine, false otherwise"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /availability/getAgentAvailability:
    get:
      tags:
      - Availability
      summary: getAgentAvailability
      description: "Returns the current availability state for a given user, account, named area, and locale.<br><br>"
      operationId: availabilityGetAgentAvailability
      parameters:
      - name: userId
        in: query
        description: "If specified, the availability will be returned for the specified user only"
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: locale
        in: query
        description: "The locale in form of a BCP 47 language tag (including the region if available) to check the availability for. If omitted, the service will check the availability of agents who did not filter the queue by language."
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: namedAreaSiteId
        in: query
        description: "The site ID (meta tag or domain) of the named area to check the availability for. If omitted, the service will check the availability of agents who did not filter the queue by named area."
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: apiKey
        in: query
        description: API key to specify the account; mandatory when called as an anonymous user
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: ignoreAgentAvailabilityOverride
        in: query
        description: "If true, the configuration property \"com.unblu.agentavailability.availabilityOverride\" will be ignored when evaluating agent availability. Defaults to false."
        required: false
        schema:
          type: boolean
        style: form
        explode: true
      responses:
        "200":
          description: The availability state given the search criteria provided and whether a busy agent is considered available or not
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAvailabilityStateData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /avatars/{avatarId}/read:
    get:
      tags:
      - Avatars
      summary: read
      description: Returns the avatar with the given ID<br>
      operationId: avatarsRead
      parameters:
      - name: avatarId
        in: path
        description: ID of the avatar which should be returned
        required: true
        schema:
          type: string
        style: simple
        explode: false
      responses:
        "200":
          description: The avatar with the given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-allow-impersonated-access: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - REGISTERED_USER
  /bots/cancelDialogBotTypingIndicator:
    post:
      tags:
      - Bots
      summary: cancelDialogBotTypingIndicator
      description: "Hides the typing indicator for the dialog bot.<br> If the typing indicator wasn't displayed, calling the endpoint has no effect.<br>"
      operationId: botsCancelDialogBotTypingIndicator
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsCancelDialogBotTypingIndicatorBody'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/cancelPendingDialogQuestions:
    post:
      tags:
      - Bots
      summary: cancelPendingDialogQuestions
      description: Cancels all pending questions in a bot dialog.<br>
      operationId: botsCancelPendingDialogQuestions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsCancelPendingDialogQuestionsBody'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/cancelPendingQuestion:
    post:
      tags:
      - Bots
      summary: cancelPendingQuestion
      description: "Cancels a bot's question message. If the message is not from a bot, the call will throw an error.<br>"
      operationId: botsCancelPendingQuestion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsCancelPendingQuestionBody'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/create:
    post:
      tags:
      - Bots
      summary: create
      description: "Creates a new dialog bot that can be used for conversation onboarding, reboarding and offboarding.<br>"
      operationId: botsCreate
      requestBody:
        description: The dialog bot to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DialogBotData'
            examples:
              create-for-visitors-onboarding:
                summary: create for visitors onboarding
                description: Create a new dialog bot
                value:
                  $_type: DialogBotData
                  id: null
                  creationTimestamp: null
                  modificationTimestamp: null
                  version: null
                  accountId: null
                  name: test-bot-1
                  description: null
                  botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                  webhookStatus: INACTIVE
                  webhookEndpoint: https://test.unblu.com
                  outboundTimeoutMillis: 3000
                  webhookApiVersion: V4
                  webhookSecret: null
                  onboardingOrder: 10
                  reboardingOrder: 10
                  offboardingOrder: 10
                  onboardingFilter: VISITORS
                  reboardingEnabled: false
                  offboardingFilter: NONE
                  needsCounterpartPresence: false
                  messageStateHandledExternally: false
                  automaticTypingStateHandlingEnabled: true
                  onTimeoutBehavior: HAND_OFF
        required: true
      responses:
        "200":
          description: The created dialog bot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotData'
              examples:
                create-for-visitors-onboarding:
                  summary: create for visitors onboarding
                  description: New dialog bot
                  value:
                    $_type: DialogBotData
                    id: c1a-ED06Dbat9daFBtC4l85
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    name: test-bot-1
                    description: null
                    botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                    webhookStatus: INACTIVE
                    webhookEndpoint: https://test.unblu.com
                    outboundTimeoutMillis: 3000
                    webhookApiVersion: V4
                    webhookSecret: null
                    onboardingOrder: 10
                    reboardingOrder: 10
                    offboardingOrder: 10
                    onboardingFilter: VISITORS
                    reboardingEnabled: false
                    offboardingFilter: NONE
                    needsCounterpartPresence: false
                    messageStateHandledExternally: false
                    automaticTypingStateHandlingEnabled: true
                    onTimeoutBehavior: HAND_OFF
        default:
          $ref: '#/components/responses/ErrorResponse'
      callbacks:
        bot.dialog.closed:
          '{$request.body#/endpoint}':
            post:
              summary: bot.dialog.closed
              description: "Event emitted when a dialog between a person and a bot closes. <br> After this event has been received, no further messages can be sent in this dialog.<br> It should be used to clean up all resources connected to this dialog. <p> <b>Note:</b> This event may be sent before the bot actively hands of the dialog if i.e. the conversation is ended beforehand or the counterpart leaves the conversation. <p> This event will only be delivered to the dialog bots that accepted dialog offer for this dialog beforehand."
              operationId: botDialogClosedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogClosedEvent'
              responses:
                "200":
                  description: OK
        bot.dialog.counterpart_changed:
          '{$request.body#/endpoint}':
            post:
              summary: bot.dialog.counterpart_changed
              description: "Event emitted when the counterpart person of dialog changes during a dialog.<br> This can only happen if a anonymous person that is in a dialog logs in / authenticates during the dialog and is changed to an authenticated person.<br> In this case the person ID and all details will switch to a authenticated person and all subsequent messages will be sent by that person, the dialog including the dialog token will stay the same and go on.<br> <p> This event will only be delivered to the dialog bots that accepted dialog offer for this dialog beforehand."
              operationId: botDialogCounterpartChangedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogCounterpartChanged'
              responses:
                "200":
                  description: OK
        bot.dialog.message:
          '{$request.body#/endpoint}':
            post:
              summary: bot.dialog.message
              description: Event emitted when a new message in a dialog between a person and a bot is sent. <p> This event will only be delivered to the dialog bots that accepted dialog offer for this dialog beforehand.
              operationId: botDialogMessageCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogMessageEvent'
              responses:
                "200":
                  description: OK
        bot.dialog.message_state:
          '{$request.body#/endpoint}':
            post:
              summary: bot.dialog.message_state
              description: Event emitted when a message in a dialog between a person and a bot is marked as delivered/read. <p> The event is only delivered to the dialog bots that accepted the dialog offer for the dialog.
              operationId: botDialogMessageStateCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogMessageStateEvent'
              responses:
                "200":
                  description: OK
        bot.dialog.opened:
          '{$request.body#/endpoint}':
            post:
              summary: bot.dialog.opened
              description: "Event emitted when a dialog between a person and a bot starts. <br> After this event has been received, messages may be sent in this dialog using the passed dialogToken <p> The event is only delivered to the dialog bots that accepted the dialog offer for the dialog."
              operationId: botDialogOpenedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogOpenEvent'
              responses:
                "200":
                  description: OK
        bot.offboarding_offer:
          '{$request.body#/endpoint}':
            post:
              summary: bot.offboarding_offer
              description: "Event sent when a person offboards a conversation, giving the bot a chance to participate in the person's offboarding. <p> This may be triggered by several things: <ul> <li><b>A person leaves a conversation:</b> A bot can participate in the offboarding process of this person.</li> <li><b>A conversation ends:</b> A bot can participate in the offboarding process for every person in the conversation.</li> </ul> Bots must accept or decline the dialog offer by responding via the bot web API with the given `dialogToken`. <p> <b>Note:</b> <ul> <li>If the offboarding person doesn't match the offboarding filter defined in the `DialogBot`, the request isn't sent to the bot's endpoint.</li> <li>The bot MUST respond to the request. If it doesn't, the offboarding person has to wait for a timeout before their offboarding can proceed.</li> </ul>"
              operationId: botOffboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotOffboardingOfferEvent'
              responses:
                "200":
                  description: OK
        bot.onboarding_offer:
          '{$request.body#/endpoint}':
            post:
              summary: bot.onboarding_offer
              description: "Event sent when a person joins a conversation, giving the bot a chance to participate in the person's onboarding. <p> Bots must accept or decline the dialog offer by responding via the bot web API with the given `dialogToken`. <p> <b>Note:</b> <ul> <li>if the onboarding person does not fit the onboarding filter defined in the `DialogBot` the webhook will not be sent to it's endpoint.</li> <li>the bot MUST respond to this webhook or else the onboarding person will have to wait for a timeout before it can proceed it's onboarding</li> </ul>"
              operationId: botOnboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotOnboardingOfferEvent'
              responses:
                "200":
                  description: OK
        bot.reboarding_offer:
          '{$request.body#/endpoint}':
            post:
              summary: bot.reboarding_offer
              description: "Event sent when a person writes a message to an unassigned conversation, giving the bot a chance to participate in the person's reboarding. <p> Bots must accept or decline the dialog offer by responding via the bot web API with the given `dialogToken`. <p> <b>Note:</b> <ul> <li>If the reboardingEnabled flag is disabled in `DialogBot`, the webhook isn't sent to the bot's endpoint.</li> <li>The bot MUST respond to the webhook. If it doesn't, the person has to wait for a timeout before their reboarding can proceed.</li> </ul>"
              operationId: botReboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotReboardingOfferEvent'
              responses:
                "200":
                  description: OK
        outbound.bot.dialog.closed:
          '{$request.body#/endpoint}':
            post:
              summary: outbound.bot.dialog.closed
              description: "Request sent when a dialog between a person and a bot closes. <br> After this request has been received, no further messages can be sent in this dialog.<br> It should be used to clean up all resources related to this dialog. <p> <b>Note:</b> This request may be sent before the bot actively hands off the dialog, for example, if the conversation is ended beforehand or the counterpart leaves the conversation. <p> The request is only delivered to the dialog bots that accepted the dialog offer for this dialog."
              operationId: outboundBotDialogClosedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogClosedRequest'
              responses:
                "200":
                  description: OK
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/BotDialogClosedResponse'
        outbound.bot.dialog.counterpart_changed:
          '{$request.body#/endpoint}':
            post:
              summary: outbound.bot.dialog.counterpart_changed
              description: Request sent when the counterpart person of a dialog changes during the dialog.<br> This can only happen if an anonymous person in a dialog logs in or authenticates during the dialog.<br> In this case the person ID and all details switch to an authenticated person and all subsequent messages are sent by that person. The dialog (and the dialog token) stays the same and continues.<br> <p> The request is only delivered to the dialog bots that accepted the dialog offer for this dialog.
              operationId: outboundBotDialogCounterpartChangedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogCounterpartChangedRequest'
              responses:
                "200":
                  description: OK
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/BotDialogCounterpartChangedResponse'
        outbound.bot.dialog.message:
          '{$request.body#/endpoint}':
            post:
              summary: outbound.bot.dialog.message
              description: Request sent when a new message is sent in a dialog between a person and a bot. <p> The request is only delivered to the dialog bots that accepted the dialog offer for this dialog.
              operationId: outboundBotDialogMessageCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogMessageRequest'
              responses:
                "200":
                  description: OK
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/BotDialogMessageResponse'
        outbound.bot.dialog.message_state:
          '{$request.body#/endpoint}':
            post:
              summary: outbound.bot.dialog.message_state
              description: Request sent when a message in a dialog between a person and a bot is marked as delivered/read. <p> The request is only delivered to the dialog bots that accepted the dialog offer for the dialog.
              operationId: outboundBotDialogMessageStateCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogMessageStateRequest'
              responses:
                "200":
                  description: OK
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/BotDialogMessageStateResponse'
        outbound.bot.dialog.opened:
          '{$request.body#/endpoint}':
            post:
              summary: outbound.bot.dialog.opened
              description: "Request sent when a dialog between a person and a bot starts. <br> After this event has been received, messages may be sent in this dialog using the passed dialogToken <p> The request is only delivered to the dialog bots that accepted the dialog offer for the dialog."
              operationId: outboundBotDialogOpenedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogOpenRequest'
              responses:
                "200":
                  description: OK
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/BotDialogOpenResponse'
        outbound.bot.offboarding_offer:
          '{$request.body#/endpoint}':
            post:
              summary: outbound.bot.offboarding_offer
              description: "Request sent when a person offboards a conversation, giving the bot a chance to participate in the person's offboarding. <p> This may be triggered by several things: <ul> <li><b>A person leaves a conversation:</b> A bot can participate in the offboarding process of this person.</li> <li><b>A conversation ends:</b> A bot can participate in the offboarding process for every person in the conversation.</li> </ul> Bots must accept or decline the dialog offer by responding to the request with a `BotBoardingOfferResponse`. <p> <b>Note:</b> <ul> <li>If the offboarding person doesn't match the offboarding filter defined in the `DialogBot`, the request isn't sent to the bot's endpoint.</li> <li>The bot MUST respond to the request. If it doesn't, the offboarding person has to wait for a timeout before their offboarding can proceed.</li> </ul>"
              operationId: outboundBotOffboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotOffboardingOfferRequest'
              responses:
                "200":
                  description: OK
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/BotBoardingOfferResponse'
        outbound.bot.onboarding_offer:
          '{$request.body#/endpoint}':
            post:
              summary: outbound.bot.onboarding_offer
              description: "Request sent when a person joins a conversation, giving the bot a chance to participate in the person's onboarding. <p> Bots must accept or decline the dialog offer by responding to the request with a `BotBoardingOfferResponse`. <p> <b>Note:</b> <ul> <li>If the onboarding person does not match the onboarding filter defined in the `DialogBot`, the request isn't sent to the bot's endpoint.</li> <li>The bot MUST respond to the request. If it doesn't, the person has to wait for a timeout before their onboarding can proceed.</li> </ul>"
              operationId: outboundBotOnboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotOnboardingOfferRequest'
              responses:
                "200":
                  description: OK
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/BotBoardingOfferResponse'
        outbound.bot.reboarding_offer:
          '{$request.body#/endpoint}':
            post:
              summary: outbound.bot.reboarding_offer
              description: "Request sent when a person writes a message to an unassigned conversation, giving the bot a chance to participate in the person's reboarding. <p> Bots must accept or decline the dialog offer by responding to the request with a `BotBoardingOfferResponse`. <p> <b>Note:</b> <ul> <li>If the reboardingEnabled flag is disabled in `DialogBot`, the request isn't sent to the bot's endpoint.</li> <li>The bot MUST respond to the request. If it doesn't, the person has to wait for a timeout before their reboarding can proceed.</li> </ul>"
              operationId: outboundBotReboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotReboardingOfferRequest'
              responses:
                "200":
                  description: OK
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/BotBoardingOfferResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/{dialogBotId}/delete:
    delete:
      tags:
      - Bots
      summary: delete
      description: Deletes an existing dialog bot<br>
      operationId: botsDelete
      parameters:
      - name: dialogBotId
        in: path
        description: The ID of the dialog bot which should be deleted
        required: true
        schema:
          type: string
        style: simple
        explode: false
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/dialogMessageDelivered:
    post:
      tags:
      - Bots
      summary: dialogMessageDelivered
      description: Marks a message as delivered to the bot.<br> <br> <b>Note:</b> If the message is also read use the `dialogMessageRead` end point directly as it will also mark the message as delivered.<br>
      operationId: botsDialogMessageDelivered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsDialogMessageDeliveredBody'
            examples:
              request-body:
                summary: request body
                description: Mark a message as delivered
                value:
                  dialogToken: AcviDb210C5BoFd6e_79oan-c-daOogO9iQmqUbgNzZN4X2A
                  messageId: mGesYagET_2GipaDGinA9A
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/dialogMessageRead:
    post:
      tags:
      - Bots
      summary: dialogMessageRead
      description: "Marks a message as read to the bot.<br> <br> <b>Note:</b> This will also mark the message as delivered, if this hasn't happened yet.<br>"
      operationId: botsDialogMessageRead
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsDialogMessageReadBody'
            examples:
              request-body:
                summary: request body
                description: Mark a message as read
                value:
                  dialogToken: AcviDb210C5BoFd6e_79oan-c-daOogO9iQmqUbgNzZN4X2A
                  messageId: mGesYagET_2GipaDGinA9A
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/finishDialog:
    post:
      tags:
      - Bots
      summary: finishDialog
      description: "Ends the dialog. Depending on the reason given and whether the dialog takes place during onboarding, reboarding, or offboarding, this will have specific effects. See the list below. <p> <b>Reason: `EBotDialogFinishReason.HAND_OFF`:</b><br> <ul> <li><b>Onboarding:</b> <ul> <li><b>Next Bot:</b> a further bot takes over the onboarding. <li><b>Activate Participation:</b> If no further bots are in the queue the participation is activated. For inbound requests this is the point where the conversation is added to the queue. For PIN conversation and invitations the person is simply placed into the conversation and can actively participate. </ul> <li><b>Reboarding:</b> <ul> <li><b>Next Bot:</b> a further bot takes over the reboarding. <li><b>Requeue Conversation:</b> If no further bots are in the queue the conversation is put back into the queue. </ul> <li><b>Offboarding:</b> <ul> <li><b>Next Bot:</b> a further bot takes over the offboarding. <li><b>End Participation:</b> If no further bots are in the queue the participation is ended and the offboarding person can no longer access it. </ul> </ul> <b>Reason: `EBotDialogFinishReason.SOLVED`:</b><br> <ul> <li><b>Onboarding:</b> <ul> <li><b>Unassign Conversation:</b> The conversation will be put in unassigned state and therefore will not be added to the queue as the problem is solved. New messages to the conversation will start reboarding. </ul> <b>Reboarding:</b> <ul> <li><b>Unassign Conversation:</b> The conversation will be put in unassigned state and therefore will not be added to the queue as the problem is solved. New messages to the conversation will start reboarding again. </ul> <b>Offboarding:</b> <ul> <li><b>End Participation:</b> Independent if there are further bots in the queue the participation is ended and the offboarding person can no longer access it. </ul> </ul> <b>Reason: `EBotDialogFinishReason.ABORTED`:</b><br> <ul> <li><b>Onboarding:</b> <ul> <li><b>Offboard Participant:</b> The participant is directly moved to the offboarding phase and won't be allowed to enter the conversation. </ul> <b>Reboarding:</b> <ul> <li><b>Unassign Conversation:</b> The participant is directly moved to the offboarding phase and won't be allowed to enter the conversation. </ul> <b>Offboarding:</b> <ul> <li><b>End Participation:</b> Independent if there are further bots in the queue the participation is ended and the offboarding person can no longer access the conversation. </ul> </ul><br>"
      operationId: botsFinishDialog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsFinishDialogBody'
            examples:
              request-body:
                summary: request body
                description: Hand off the dialog to an agent
                value:
                  dialogToken: AcviDb210C5BoFd6e_79oan-c-daOogO9iQmqUbgNzZN4X2A
                  reason: HAND_OFF
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/getByName:
    get:
      tags:
      - Bots
      summary: getByName
      description: Searches for an existing dialog bot with the given name.<br>
      operationId: botsGetByName
      parameters:
      - name: name
        in: query
        description: Name of the dialog bot.
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "200":
          description: The dialog bot with the given name or an error if none is found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotData'
              examples:
                get-by-name-bot:
                  summary: get by name bot
                  description: Dialog bot
                  value:
                    $_type: DialogBotData
                    id: c1a-ED06Dbat9daFBtC4l85
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    name: test-bot-1
                    description: null
                    botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                    webhookStatus: INACTIVE
                    webhookEndpoint: http://test.webhook.com
                    outboundTimeoutMillis: 3000
                    webhookApiVersion: V4
                    webhookSecret: null
                    onboardingOrder: 10
                    reboardingOrder: 10
                    offboardingOrder: 10
                    onboardingFilter: NONE
                    reboardingEnabled: false
                    offboardingFilter: NONE
                    needsCounterpartPresence: false
                    messageStateHandledExternally: false
                    automaticTypingStateHandlingEnabled: true
                    onTimeoutBehavior: HAND_OFF
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/{dialogBotId}/read:
    get:
      tags:
      - Bots
      summary: read
      description: Reads an existing dialog bot.<br>
      operationId: botsRead
      parameters:
      - name: dialogBotId
        in: path
        description: The ID of the dialog bot.
        required: true
        schema:
          type: string
        style: simple
        explode: false
      responses:
        "200":
          description: The dialog bot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotData'
              examples:
                read-bot:
                  summary: read bot
                  description: Dialog bot
                  value:
                    $_type: DialogBotData
                    id: c1a-ED06Dbat9daFBtC4l85
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    name: test-bot-1
                    description: null
                    botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                    webhookStatus: INACTIVE
                    webhookEndpoint: http://test.webhook.com
                    outboundTimeoutMillis: 3000
                    webhookApiVersion: V4
                    webhookSecret: null
                    onboardingOrder: 10
                    reboardingOrder: 10
                    offboardingOrder: 10
                    onboardingFilter: NONE
                    reboardingEnabled: false
                    offboardingFilter: NONE
                    needsCounterpartPresence: false
                    messageStateHandledExternally: false
                    automaticTypingStateHandlingEnabled: true
                    onTimeoutBehavior: HAND_OFF
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/restrictDialogCounterpart:
    post:
      tags:
      - Bots
      summary: restrictDialogCounterpart
      description: Limits the length of a message the counterpart can send to the bot in a dialog. <p> The value is reset automatically when the bot hands off the dialog.<br>
      operationId: botsRestrictDialogCounterpart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsRestrictDialogCounterpartBody'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/search:
    post:
      tags:
      - Bots
      summary: search
      description: Search for dialog bots in the current account<br>
      operationId: botsSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DialogBotQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/sendDialogMessage:
    post:
      tags:
      - Bots
      summary: sendDialogMessage
      description: Sends a message as a bot into an ongoing dialog. <p> It can only be used after the bot received the `BotDialogOpenEvent` webhook for this dialog.<br>
      operationId: botsSendDialogMessage
      requestBody:
        description: The message to send
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotDialogPostMessage'
        required: true
      responses:
        "200":
          description: The ID of the message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/sendMessage:
    post:
      tags:
      - Bots
      summary: sendMessage
      description: Sends a message to a conversation as a bot. <p> This can be used at any time during a conversation. It is not related to bot dialogs.<br>
      operationId: botsSendMessage
      requestBody:
        description: The message to send
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotPostMessage'
            examples:
              send-card-message:
                summary: send card message
                description: Send card message from the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                  - PtwoVi1O-2G9FFCR_rZLKQ
                  internal: false
                  replyToMessageId: null
                  messageData:
                    $_type: CardPostMessageData
                    type: CARD
                    fallbackText: This is the plain body text
                    imageUrl: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC"
                    imageAltText: test image
                    title: Title
                    body: This is the **body text** with markdown
                    bodyTextType: MARKDOWN
                    actions:
                    - $_type: MessageAction
                      actionType: LINK_INTERNAL
                      label: Unblu homepage
                      value: https://unblu.com
                    - $_type: MessageAction
                      actionType: LINK_EXTERNAL
                      label: Wikipedia
                      value: https://www.wikipedia.org/
                    - $_type: MessageAction
                      actionType: LINK_COBROWSABLE
                      label: Cobrowse Unblu homepage
                      value: https://unblu.com
                    - $_type: MessageAction
                      actionType: REPLY_MESSAGE
                      label: More info
                      value: Could you provide me with more info?
                    quickReplies:
                    - $_type: QuickReply
                      text: Thank you
                    - $_type: QuickReply
                      text: "Great, that helped a lot"
              send-card-with-techid-message:
                summary: send card-with techid message
                description: Send card message from the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                  - PtwoVi1O-2G9FFCR_rZLKQ
                  internal: null
                  replyToMessageId: null
                  messageData:
                    $_type: CardPostMessageData
                    type: CARD
                    fallbackText: This is the plain body text
                    imageUrl: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC"
                    imageAltText: test image
                    title: Title
                    body: This is the **body text** with markdown
                    bodyTextType: MARKDOWN
                    actions:
                    - $_type: MessageAction
                      actionType: REPLY_MESSAGE_WITH_TECHNICAL_VALUE
                      label: Start over
                      value: tech-id-4711
                    quickReplies:
                    - $_type: QuickReply
                      text: Thank you
                    - $_type: QuickReply
                      text: "Great, that helped a lot"
              send-file-message:
                summary: send file message
                description: Send file message from the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                  - PtwoVi1O-2G9FFCR_rZLKQ
                  internal: null
                  replyToMessageId: null
                  messageData:
                    $_type: FilePostMessageData
                    type: FILE
                    fallbackText: Picture file testImage.png
                    fileName: testImage.png
                    caption: See file below
                    captionType: MARKDOWN
                    fileData: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC"
                    quickReplies:
                    - $_type: QuickReply
                      text: Thank you
                    - $_type: QuickReply
                      text: I meant something else
              send-list-message:
                summary: send list message
                description: Send list message from the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                  - PtwoVi1O-2G9FFCR_rZLKQ
                  internal: null
                  replyToMessageId: null
                  messageData:
                    $_type: ListPostMessageData
                    type: LIST
                    fallbackText: This is the plain body text
                    header:
                      $_type: MessageHeader
                      imageUrl: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC"
                      imageAltText: test image
                      title: Title
                      body: This is the **body text** with markdown
                      bodyTextType: MARKDOWN
                    items:
                    - $_type: PostListMessageCardItemData
                      imageUrl: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC"
                      imageAltText: test image
                      title: Title
                      body: This is the **body text** with markdown
                      bodyTextType: MARKDOWN
                      action: null
                    - $_type: PostListMessageCardItemData
                      imageUrl: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC"
                      imageAltText: test image
                      title: Title
                      body: This is the **body text** with markdown
                      bodyTextType: MARKDOWN
                      action:
                        $_type: MessageAction
                        actionType: LINK_INTERNAL
                        label: Unblu homepage
                        value: https://unblu.com
                    - $_type: PostListMessageCardItemData
                      imageUrl: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC"
                      imageAltText: test image
                      title: Title
                      body: This is the **body text** with markdown
                      bodyTextType: MARKDOWN
                      action:
                        $_type: MessageAction
                        actionType: LINK_COBROWSABLE
                        label: Cobrowse Unblu homepage
                        value: https://unblu.com
                    actions:
                    - $_type: MessageAction
                      actionType: LINK_INTERNAL
                      label: Unblu homepage
                      value: https://unblu.com
                    - $_type: MessageAction
                      actionType: LINK_EXTERNAL
                      label: Wikipedia
                      value: https://www.wikipedia.org/
                    - $_type: MessageAction
                      actionType: LINK_COBROWSABLE
                      label: Cobrowse Unblu homepage
                      value: https://unblu.com
                    - $_type: MessageAction
                      actionType: REPLY_MESSAGE
                      label: More info
                      value: Could you provide me with more info?
                    quickReplies:
                    - $_type: QuickReply
                      text: Thank you
                    - $_type: QuickReply
                      text: "Ok, will choose one"
              send-multi-choice-question:
                summary: send multi-choice question
                description: Send multiple choice question message from the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                  - PtwoVi1O-2G9FFCR_rZLKQ
                  internal: null
                  replyToMessageId: null
                  messageData:
                    $_type: MultichoiceQuestionPostMessageData
                    type: MULTICHOICE_QUESTION
                    fallbackText: Choose one of the options
                    text: Choose one of the options
                    textType: MARKDOWN
                    options:
                    - $_type: MultichoiceQuestionOption
                      label: Option 1
                      value: "1"
                      primary: true
                    - $_type: MultichoiceQuestionOption
                      label: Option 2
                      value: "2"
                      primary: false
              send-question-message:
                summary: send question message
                description: Send question message to the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                  - PtwoVi1O-2G9FFCR_rZLKQ
                  messageData:
[...]
