---
openapi: 3.0.1
info:
  title: Unblu Web API
  description: Unblu Web API v3
  version: 7.30.3
servers:
- url: https://unblu.cloud/app/rest/v3
security:
- basicAuth: []
tags:
- name: AccountSecrets
  description: Service to read account secret of current account
- name: Accounts
  description: "With this service the accounts of the unblu system can be managed. Most of the provided interface needs super admin permissions. Especially if the edited account is not the one of the current user.<br> <br> The Account object can be expanded. If the query parameter expand is set to contactAddressId and/or billingAddressId (e.g ?expand=contactAddressId,billingAddressId) the address id's will be automatically resolved and wrapped into the object. This can also be done when sending the object"
- name: Addresses
  description: "With this service, the addresses of accounts can be managed."
- name: ApiKeys
  description: With this service the api keys can be managed
- name: Audit
  description: Service to search the audit log entries.
- name: Authenticator
  description: Service to log in with a user or to switch to other accounts/users by impersonating them
- name: Availability
- name: Avatars
  description: "With this service, the avatar pictures can be managed."
- name: Bots
  description: Service to manage all kind of bots. Additionally the bots use this service to interact with a conversation/dialog.
- name: CannedResponses
  description: "Service to manage canned responses.<br> The canned responses a user can edit and the once he can use for chat can differ. The once he can edit are depending on his role. The ones he can use in a chat depends on the team setup and his role. See the following policies for the list of chat messages available for chat: <ul> <li>All canned responses of the own user.</li> <li>All canned responses of the team cascade (the users team and all of the parent teams)</li> <li>All canned responses of the sub-teams if role is: SUPERVISOR or higher.</li> <li>All canned responses of all teams if role is: ADMIN or higher.</li> <li>All canned responses of the users account.</li> </ul> In comparison to this the creation/editing/deleting of canned responses follow the following policies: <ul> <li>All canned responses of the own user.</li> <li>All canned responses of the sub-teams if role is: SUPERVISOR or higher.</li> <li>All canned responses of all teams if role is: ADMIN or higher.</li> <li>All canned responses of the users account if role is: ADMIN or higher.</li> <li></li> </ul>"
- name: CannedResponsesUsage
  description: Service for Canned Response Usage
- name: Contacts
  description: Service to access the contact data for an account
- name: ConversationHistory
  description: Service to get the history of conversations
- name: ConversationTemplates
  description: Service to manage all conversation templates.
- name: Conversations
  description: Service to manage conversations
- name: DeputyRelationships
  description: Service to manage deputy relationships. A deputy relationship is needed if deputy delegation should be executed for unhandled conversation requests.
- name: Domains
  description: Service to manage the domains of the account. A domain needs to be defined to use unblu on it.
- name: ExternalMessengers
  description: Manages all types of `ExternalMessengerChannel` and can be used to send messages from external messengers into a collaboration server conversation.
- name: Global
  description: With this service the global Unblu system can be managed.<br> <br> For super-admin the Global object can be expanded to set configuration or translations.
- name: Invitations
  description: Service to manage conversation invitations
- name: MessageInterceptors
  description: "Service to manage message interceptors. Some operations are only valid for some types of message interceptor. Where that is the case, the operation's documentation states which types it applies to."
- name: NamedAreas
  description: Service to manage named areas.
- name: PersonPresences
  description: Service to access person presences
- name: Persons
  description: Service to manage virtual or bot persons
- name: RecordRetention
  description: Service for loading and updating the record retention configuration. The configuration is account-specific.
- name: Services
  description: Service which provides metadata information for all services and used types.
- name: Teams
  description: "Service to manage all teams in the system. For each account there is always a default team, which users are assigned to, when no explicit team is set."
- name: Users
  description: "Service to manage all users in the system. Most of the service's endpoints to read, list, or search for users exclude virtual visitors from the results. If an endpoint returns virtual visitors, it is noted in the endpoint's description."
- name: WebhookCallLogs
  description: Service to get logs of webhook calls
- name: WebhookRegistrations
  description: Service to manage all webhook registrations
paths:
  /accountsecrets/getCurrentAccountSecret:
    get:
      tags:
      - AccountSecrets
      summary: getCurrentAccountSecret
      description: getCurrentAccountSecret operation
      operationId: accountSecretsGetCurrentAccountSecret
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSecret'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /accounts/create:
    post:
      tags:
      - Accounts
      summary: create
      description: "Creates the given entity in the system. The ID of the entity can not be set for create operation, a new one is generated.<br>"
      operationId: accountsCreate
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
            examples:
              request-body:
                summary: request body
                description: Create an Account with translations of the name for it
                value:
                  $_type: Account
                  id: null
                  creationTimestamp: null
                  modificationTimestamp: null
                  version: null
                  name: with-translations-test
                  billingAddress: null
                  contactAddress: null
                  avatar: null
                  translations:
                    de:
                      $_type: AccountTranslation
                      id: null
                      name: Kreditanstalt
                      description: null
                    en:
                      $_type: AccountTranslation
                      id: null
                      name: Loan bank
                      description: null
                  configuration: null
                  metadata: null
                  text: null
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                response-body:
                  summary: response body
                  description: Create an Account with translations of the name for it
                  value:
                    $_type: Account
                    id: A7d9E_0-c3cC4aoFDb85t6n
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    name: with-translations-test
                    billingAddress: null
                    contactAddress: null
                    avatar: null
                    translations:
                      de:
                        $_type: AccountTranslation
                        id: IO4wYQFeQ2y86kxBWrKaBQ
                        name: Kreditanstalt
                        description: null
                      en:
                        $_type: AccountTranslation
                        id: IO4wYQFeQ2y86kxBWrKaBQ
                        name: Loan bank
                        description: null
                    configuration: null
                    metadata: null
                    text: null
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/createAccountWithNewAdmin:
    post:
      tags:
      - Accounts
      summary: createAccountWithNewAdmin
      description: Create a new account with a new admin which will receive an email with the initial password.<br>
      operationId: accountsCreateAccountWithNewAdmin
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: the new account and admin user information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUserContainer'
            examples:
              request-body:
                summary: request body
                description: Create an Account and an Admin user for it
                value:
                  $_type: AccountUserContainer
                  account:
                    $_type: Account
                    id: null
                    creationTimestamp: null
                    modificationTimestamp: null
                    version: null
                    name: with-admin-test
                    billingAddress: null
                    contactAddress: null
                    avatar: null
                    translations: null
                    configuration: null
                    metadata: null
                    text: null
                  adminUser:
                    $_type: User
                    id: null
                    creationTimestamp: null
                    modificationTimestamp: null
                    version: null
                    accountId: null
                    avatar: null
                    username: test@email.com
                    email: test@email.com
                    phone: null
                    teamId: null
                    authorizationRole: ADMIN
                    displayName: J. Doe
                    firstName: John
                    lastName: Doe
                    externallyManaged: null
                    virtualUser: null
                    configuration: null
                    metadata: null
        required: true
      responses:
        "200":
          description: the created Account and User in the container object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUserContainer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/delete:
    delete:
      tags:
      - Accounts
      summary: delete
      description: Deletes the entity for the given ID<br>
      operationId: accountsDelete
      parameters:
      - name: id
        in: query
        description: The ID of the entity which should be deleted
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/disableAccountIngress:
    post:
      tags:
      - Accounts
      summary: disableAccountIngress
      description: "Disables ingress for the given account. <p> Calling this method triggers the ingress deactivation process. This consists of a single step: <ol> <li>Migrate all users of the account to be managed through the built-in Unblu user management system. </ol> Successfully completing the deactivation process changes the `getMigrationStatus` to DONE_INGRESS_INACTIVE and the`getIngressStatus` to GLOBAL<br> If the deactivation process fails, `getMigrationStatus` changes to ERROR.<br> In such a case, use `readIngressStatus` to retrieve the current status and find the potential source of the problems. <p> Once you've resolved the issues that caused the deactivation process to fail, use `restartIngressMigration` to restart the process."
      operationId: accountsDisableAccountIngress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsDisableAccountIngressBody'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/enableAccountIngress:
    post:
      tags:
      - Accounts
      summary: enableAccountIngress
      description: "Enables ingress for the given account. Before calling this method, you must have configured ingress correctly. <p> Calling this method triggers the ingress activation process. The process consists of the following steps: <ol> <li>Migrate all the users of the account to be managed through ingress single sign-on (SSO). <li>Check and apply all ingress-related configuration properties. </ol> Successfully completing the activation process changes the `getMigrationStatus` to DONE_INGRESS_ACTIVE and the`getIngressStatus` to ACCOUNT<br> If the activation process fails, the `getMigrationStatus` changes to ERROR.<br> In such a case, use `readIngressStatus` to retrieve the current status and find the potential source of the problems. </p> If the process failed because of an invalid configuration, ingress is automatically activated once the configuration has been rectified.<br> If there was an issue during migration, use `restartIngressMigration` to restart the process once you've resolved all migration issues."
      operationId: accountsEnableAccountIngress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsEnableAccountIngressBody'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/getByName:
    get:
      tags:
      - Accounts
      summary: getByName
      description: "Returns an account by the given name or null, if there is no such account<br>"
      operationId: accountsGetByName
      parameters:
      - name: name
        in: query
        description: The name of the account which should be returned
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The account for the given name or null
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/getCurrentAccount:
    get:
      tags:
      - Accounts
      summary: getCurrentAccount
      description: Returns the account object of the current logged in user<br>
      operationId: accountsGetCurrentAccount
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The account of the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - REGISTERED_USER
  /accounts/isAccountNameAvailable:
    get:
      tags:
      - Accounts
      summary: isAccountNameAvailable
      description: Checks if the account name is available for the given account id<br>
      operationId: accountsIsAccountNameAvailable
      parameters:
      - name: name
        in: query
        description: The name which should be checked
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: accountId
        in: query
        description: "The account id of the user for who the account should be set. When changing the name of an existing account, its id should be given. When the name is set to the one of the account, it will then also return true."
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "200":
          description: true if the account name is not used or if the owning account is the same one.
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /accounts/read:
    get:
      tags:
      - Accounts
      summary: read
      description: Returns the entity for the given ID<br>
      operationId: accountsRead
      parameters:
      - name: id
        in: query
        description: ID of the entity which should be returned
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: "The entity of the ID which should be returned. If it could not be found, null is returned."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/readIngressStatus:
    get:
      tags:
      - Accounts
      summary: readIngressStatus
      description: readIngressStatus operation
      operationId: accountsReadIngressStatus
      parameters:
      - name: accountId
        in: query
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountIngressStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/readMultiple:
    post:
      tags:
      - Accounts
      summary: readMultiple
      description: Gets a list of entities for the given ID's<br>
      operationId: accountsReadMultiple
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The ID's for which the entities should be fetched
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of entities for the given id's
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/restartIngressMigration:
    post:
      tags:
      - Accounts
      summary: restartIngressMigration
      description: "Retries the ingress migration process for the given account. This is necessary when main_account#ingress_migration_status is ERROR. <p> When the service is executed, it updates the ingress_activation_status to MIGRATING. This causes the ingress migration leader selection task to resume the migration."
      operationId: accountsRestartIngressMigration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsRestartIngressMigrationBody'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/search:
    post:
      tags:
      - Accounts
      summary: search
      description: Search for accounts<br>
      operationId: accountsSearch
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountQuery'
        required: true
      responses:
        "200":
          description: the result list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /accounts/update:
    post:
      tags:
      - Accounts
      summary: update
      description: "Allows to update the current account as admin. If user is super admin, he can also update other accounts<br>"
      operationId: accountsUpdate
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The account entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        required: true
      responses:
        "200":
          description: The updated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /addresses/create:
    post:
      tags:
      - Addresses
      summary: create
      description: "Creates the given entity in the system. The ID of the entity can not be set for create operation, a new one is generated.<br>"
      operationId: addressesCreate
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /addresses/delete:
    delete:
      tags:
      - Addresses
      summary: delete
      description: Deletes the entity for the given ID<br>
      operationId: addressesDelete
      parameters:
      - name: id
        in: query
        description: The ID of the entity which should be deleted
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /addresses/read:
    get:
      tags:
      - Addresses
      summary: read
      description: Returns the entity for the given ID<br>
      operationId: addressesRead
      parameters:
      - name: id
        in: query
        description: ID of the entity which should be returned
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "200":
          description: "The entity of the ID which should be returned. If it could not be found, null is returned."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /addresses/readMultiple:
    post:
      tags:
      - Addresses
      summary: readMultiple
      description: Gets a list of entities for the given ID's<br>
      operationId: addressesReadMultiple
      requestBody:
        description: The ID's for which the entities should be fetched
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of entities for the given id's
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /addresses/search:
    post:
      tags:
      - Addresses
      summary: search
      description: Search for addresses in the current account<br>
      operationId: addressesSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /addresses/update:
    post:
      tags:
      - Addresses
      summary: update
      description: Updates the entity in the system with the given entity.<br>
      operationId: addressesUpdate
      requestBody:
        description: The entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
        required: true
      responses:
        "200":
          description: The updated version of the entity. Use always this instance for further processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/create:
    post:
      tags:
      - ApiKeys
      summary: create
      description: "Creates the given entity in the system. The ID of the entity can not be set for create operation, a new one is generated.<br>"
      operationId: apiKeysCreate
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/delete:
    delete:
      tags:
      - ApiKeys
      summary: delete
      description: Deletes the entity for the given ID<br>
      operationId: apiKeysDelete
      parameters:
      - name: id
        in: query
        description: The ID of the entity which should be deleted
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/getByKey:
    get:
      tags:
      - ApiKeys
      summary: getByKey
      description: Returns the api key object for the given api key string in the current account<br>
      operationId: apiKeysGetByKey
      parameters:
      - name: apiKey
        in: query
        description: The api key for which the object should be returned
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The api key object for the given key string or null if none is found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/getDefaultForAccountId:
    get:
      tags:
      - ApiKeys
      summary: getDefaultForAccountId
      description: "Returns the default api key for the given account id. If the id of the account does not match with the one from the current user, null is returned<br>"
      operationId: apiKeysGetDefaultForAccountId
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The default api key for the current account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/getQuotaUsage:
    get:
      tags:
      - ApiKeys
      summary: getQuotaUsage
      description: Returns the number of entities already existing (for the current account)<br>
      operationId: apiKeysGetQuotaUsage
      responses:
        "200":
          description: the number of entities already existing (for the current account)
          content:
            application/json:
              schema:
                type: integer
                format: int32
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPERVISOR
  /apikeys/read:
    get:
      tags:
      - ApiKeys
      summary: read
      description: Returns the entity for the given ID<br>
      operationId: apiKeysRead
      parameters:
      - name: id
        in: query
        description: ID of the entity which should be returned
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: "The entity of the ID which should be returned. If it could not be found, null is returned."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/readMultiple:
    post:
      tags:
      - ApiKeys
      summary: readMultiple
      description: Gets a list of entities for the given ID's<br>
      operationId: apiKeysReadMultiple
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The ID's for which the entities should be fetched
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of entities for the given id's
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/search:
    post:
      tags:
      - ApiKeys
      summary: search
      description: Search for api keys in the current account<br>
      operationId: apiKeysSearch
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /apikeys/update:
    post:
      tags:
      - ApiKeys
      summary: update
      description: Updates the entity in the system with the given entity.<br>
      operationId: apiKeysUpdate
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      requestBody:
        description: The entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        required: true
      responses:
        "200":
          description: The updated version of the entity. Use always this instance for further processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /audit/search:
    post:
      tags:
      - Audit
      summary: search
      description: Search for audit log entries <ul> <li>of database entities in the current account for ADMIN role user. <li>of global owner type entities and account entities for SUPERADMIN role user. </ul><br>
      operationId: auditSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditChangeQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditChangeResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
      - SUPER_ADMIN
  /authenticator/authenticateWithToken:
    get:
      tags:
      - Authenticator
      summary: authenticateWithToken
      description: Authentication using a previously created authentication token from (`createAuthenticationToken`). Will create an authentication session if authentication succeeds (includes setting an authentication cookie)<br>
      operationId: authenticatorAuthenticateWithToken
      parameters:
      - name: authenticationToken
        in: query
        description: token to login with
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: redirectOnSuccess
        in: query
        description: redirection URL when the operation is successful
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: redirectOnFailure
        in: query
        description: redirection URL when the operation is not successful
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "200":
          description: "True, if authentication succeeded, false otherwise"
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/changePassword:
    post:
      tags:
      - Authenticator
      summary: changePassword
      description: "Changes password for currently logged in user, if the old password is currently matching the stored password<br>"
      operationId: authenticatorChangePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorChangePasswordBody'
            examples:
              request-body:
                summary: request body
                description: Change password
                value:
                  oldPassword: L0remPf18!
                  newPassword: L1rem_Hq23
        required: true
      responses:
        "200":
          description: "False if old password didn't match, true if password was updated"
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - WEBUSER
  /authenticator/checkPasswordAgainstPolicy:
    post:
      tags:
      - Authenticator
      summary: checkPasswordAgainstPolicy
      description: checks if a 'potential' password is valid given the current password policy<br>
      operationId: authenticatorCheckPasswordAgainstPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorCheckPasswordAgainstPolicyBody'
            examples:
              request-body:
                summary: request body
                description: Check if the password will be accepted or not
                value:
                  password: L0remPf18!
        required: true
      responses:
        "200":
          description: Returns a list of policies which are not fulfilled
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/checkSuperAdminPasswordFile:
    get:
      tags:
      - Authenticator
      summary: checkSuperAdminPasswordFile
      description: checks if a password file for the superadmin exists<br>
      operationId: authenticatorCheckSuperAdminPasswordFile
      responses:
        "200":
          description: "true if file exists, otherwise false"
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/createAuthenticationToken:
    post:
      tags:
      - Authenticator
      summary: createAuthenticationToken
      description: "Creates a new authentication token, which can later be used for login.<br>"
      operationId: authenticatorCreateAuthenticationToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorCreateAuthenticationTokenBody'
            examples:
              request-body:
                summary: request body
                description: Create a token for a given username and password
                value:
                  username: r@email.com
                  password: L0remPf18!
        required: true
      responses:
        "200":
          description: "An authentication token, which can later be used for login."
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/createAuthenticationTokenForCurrentUser:
    post:
      tags:
      - Authenticator
      summary: createAuthenticationTokenForCurrentUser
      description: Creates a new authentication token for the current logged in user.<br>
      operationId: authenticatorCreateAuthenticationTokenForCurrentUser
      responses:
        "200":
          description: "An authentication token, which can later be used for login."
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - WEBUSER
  /authenticator/getAuthenticatedUserDisplayName:
    get:
      tags:
      - Authenticator
      summary: getAuthenticatedUserDisplayName
      description: Returns the name of the user which can be displayed somewhere<br>
      operationId: authenticatorGetAuthenticatedUserDisplayName
      responses:
        "200":
          description: "the name of the authenticated user or empty string if none (will return the \"display name\", thus, this is not guaranteed to be an email type!)"
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/getAuthenticatedUserName:
    get:
      tags:
      - Authenticator
      summary: getAuthenticatedUserName
      description: Returns the name of the logged in user<br>
      operationId: authenticatorGetAuthenticatedUserName
      responses:
        "200":
          description: The name of the authenticated user or empty string if none
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/getCompactUser:
    get:
      tags:
      - Authenticator
      summary: getCompactUser
      description: "Returns a compact user object, which contains the most important information about the current logged in user.<br>"
      operationId: authenticatorGetCompactUser
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpandFields'
        style: form
        explode: false
      responses:
        "200":
          description: The compact user of the current logged in user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompactUser'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/getUserId:
    get:
      tags:
      - Authenticator
      summary: getUserId
      description: The user id of the current user<br>
      operationId: authenticatorGetUserId
      responses:
        "200":
          description: The id of the current authenticated user or null if none
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/getUserPermissions:
    get:
      tags:
      - Authenticator
      summary: getUserPermissions
      description: Returns the permissions of the current user<br>
      operationId: authenticatorGetUserPermissions
      responses:
        "200":
          description: The permissions of the authenticated user or null if not logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permissions'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/getUserRole:
    get:
      tags:
      - Authenticator
      summary: getUserRole
      description: Returns the user role of the current logged in user<br>
      operationId: authenticatorGetUserRole
      responses:
        "200":
          description: the user role of the current logged in user
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/impersonate:
    post:
      tags:
      - Authenticator
      summary: impersonate
      description: Impersonates with another user either via username or userid (one of the two may be null).<br>
      operationId: authenticatorImpersonate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorImpersonateBody'
            examples:
              request-body:
                summary: request body
                description: Impersonate as user 'admin' without keeping the superadmin rights
                value:
                  username: admin
                  userId: null
                  superUser: false
                  redirectOnSuccess: null
                  redirectOnFailure: null
        required: true
      responses:
        "200":
          description: "true, if impersonate worked fine, false otherwise"
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /authenticator/isAuthenticated:
    get:
      tags:
      - Authenticator
      summary: isAuthenticated
      description: Checks if the current client is authenticated and session has not expired<br>
      operationId: authenticatorIsAuthenticated
      responses:
        "200":
          description: True if requesting client is already authenticated and authentication session has not expired
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/isRegisteredUser:
    get:
      tags:
      - Authenticator
      summary: isRegisteredUser
      description: Checks if the user is a registered user and not a web user or anonymous one from the system<br>
      operationId: authenticatorIsRegisteredUser
      responses:
        "200":
          description: True if the user has the role  `EAuthorizationRole.REGISTERED_USER`
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/isSuperAdmin:
    get:
      tags:
      - Authenticator
      summary: isSuperAdmin
      description: Checks if the current user is super admin<br>
      operationId: authenticatorIsSuperAdmin
      responses:
        "200":
          description: True if the current user is super admin
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/login:
    post:
      tags:
      - Authenticator
      summary: login
      description: Login using username and password credentials. Will create an authentication session if login succeeds (includes setting an authentication cookie)<br>
      operationId: authenticatorLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorLoginBody'
            examples:
              request-body:
                summary: request body
                description: Login with username and password
                value:
                  username: r@email.com
                  password: L0remPf18!
                  redirectOnSuccess: null
                  redirectOnFailure: null
        required: true
      responses:
        "200":
          description: "true, if login succeeded, false otherwise"
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/loginWithSecureToken:
    post:
      tags:
      - Authenticator
      summary: loginWithSecureToken
      description: "Start a session using a signed JWT as the login credentials. A new user with the role WEBUSER is created automatically. If authentication is successful, the response includes an authentication cookie; the response body is empty. <code>x-unblu-apikey</code> is a mandatory GET parameter for this operation, even though it is not part of the OpenAPI specification."
      operationId: authenticatorLoginWithSecureToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureTokenRequest'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/logout:
    post:
      tags:
      - Authenticator
      summary: logout
      description: Call this to logout (clear internal session and session cookie on response)<br>
      operationId: authenticatorLogout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorLogoutBody'
            examples:
              request-body:
                summary: request body
                description: Logout with a redirection to unblu.com
                value:
                  redirectOnSuccess: https://unblu.com/
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/resetImpersonation:
    post:
      tags:
      - Authenticator
      summary: resetImpersonation
      description: Resets the current impersonation. Will do nothing if there is no impersonation.<br>
      operationId: authenticatorResetImpersonation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorResetImpersonationBody'
            examples:
              request-body:
                summary: request body
                description: Reset impersonation and redirect to the Global Configuration page on success
                value:
                  redirectOnSuccess: /app/config-global
                  redirectOnFailure: null
        required: true
      responses:
        "200":
          description: "true, if removing of the impersonation worked fine, false otherwise"
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - REGISTERED_USER
  /authenticator/sendPasswordResetMail:
    post:
      tags:
      - Authenticator
      summary: sendPasswordResetMail
      description: Sends a reset password link to the user by email only if the user exists<br>
      operationId: authenticatorSendPasswordResetMail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorSendPasswordResetMailBody'
            examples:
              request-body:
                summary: request body
                description: Reset impersonation and redirect to the Global Configuration page on success
                value:
                  username: r@email.com
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/setDefaultLocale:
    post:
      tags:
      - Authenticator
      summary: setDefaultLocale
      description: "Changes the language of the current user. It is stored also in the returned cookies<br> Note: A reload should be done afterwards.<br>"
      operationId: authenticatorSetDefaultLocale
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorSetDefaultLocaleBody'
            examples:
              request-body:
                summary: request body
                description: Change the default locale to french
                value:
                  locale: fr
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/setNewPassword:
    post:
      tags:
      - Authenticator
      summary: setNewPassword
      description: Saves a new password for the user behind the given authentication token. The token can be created with`createAuthenticationToken`. The user needs to be authenticated first.<br>
      operationId: authenticatorSetNewPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorSetNewPasswordBody'
            examples:
              request-body:
                summary: request body
                description: Set a new password
                value:
                  authenticationToken: Y2w5el...naW77w=
                  password: L0remPf18!
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /authenticator/switchToAccount:
    post:
      tags:
      - Authenticator
      summary: switchToAccount
      description: "Switches the account in a given authentication session. If successful, the user is treated, as if he/she was a member of the target account.<br>"
      operationId: authenticatorSwitchToAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatorSwitchToAccountBody'
            examples:
              request-body:
                summary: request body
                description: Switch to account with a redirect to the Account Configuration page on success
                value:
                  accountId: A7d9E_0-c3cC4aoFDb85t6n
                  redirectOnSuccess: /app/config-account
                  redirectOnFailure: null
        required: true
      responses:
        "200":
          description: "true, if impersonate worked fine, false otherwise"
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - SUPER_ADMIN
  /availability/getAgentAvailability:
    get:
      tags:
      - Availability
      summary: getAgentAvailability
      description: "Returns the current availability state for a given user, account, named area, and locale.<br><br>"
      operationId: availabilityGetAgentAvailability
      parameters:
      - name: userId
        in: query
        description: "If specified, the availability will be returned for the specified user only"
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: locale
        in: query
        description: "The locale in form of a BCP 47 language tag (including the region if available) to check the availability for. If omitted, the service will check the availability of agents who did not filter the queue by language."
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: namedAreaSiteId
        in: query
        description: "The site ID (meta tag or domain) of the named area to check the availability for. If omitted, the service will check the availability of agents who did not filter the queue by named area."
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: apiKey
        in: query
        description: API key to specify the account; mandatory when called as an anonymous user
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: ignoreAgentAvailabilityOverride
        in: query
        description: "If true, the configuration property \"com.unblu.agentavailability.availabilityOverride\" will be ignored when evaluating agent availability. Defaults to false."
        required: false
        schema:
          type: boolean
        style: form
        explode: true
      responses:
        "200":
          description: The availability state given the search criteria provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EAvailabilityState'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /availability/isAgentAvailable:
    get:
      tags:
      - Availability
      summary: isAgentAvailable
      description: "Returns true if an agent is available for a given user, account, named area, and locale.<br><br>"
      operationId: availabilityIsAgentAvailable
      parameters:
      - name: userId
        in: query
        description: "If specified, the availability will be returned for this user only."
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: locale
        in: query
        description: "The locale in form of a BCP 47 language tag (including the region if available) to check the availability for. If omitted, the service will check the availability of agents who did not filter the queue by language."
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: namedAreaSiteId
        in: query
        description: "The site ID (meta tag or domain) of the named area to check the availability for. If omitted, the service will check the availability of agents who did not filter the queue by named area."
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: apiKey
        in: query
        description: API key to specify the account; mandatory when called as an anonymous user
        required: false
        schema:
          type: string
        style: form
        explode: true
      - name: ignoreAgentAvailabilityOverride
        in: query
        description: "If true, the configuration property \"com.unblu.agentavailability.availabilityOverride\" will be ignored when evaluating agent availability. Defaults to false."
        required: false
        schema:
          type: boolean
        style: form
        explode: true
      responses:
        "200":
          description: "true if an agent that meets the criteria is available, false if not"
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: PUBLIC
      x-required-role:
      - ANONYMOUS_USER
  /avatars/create:
    post:
      tags:
      - Avatars
      summary: create
      description: "Creates the avatar in the system. The id can not be set for create operation, a new one is generated.<br>"
      operationId: avatarsCreate
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Avatar'
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /avatars/read:
    get:
      tags:
      - Avatars
      summary: read
      description: Returns the avatar for the given id<br>
      operationId: avatarsRead
      parameters:
      - name: id
        in: query
        description: Id of the entity which should be returned
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "200":
          description: "The entity of the id which should be returned. If it could not be found, null is returned."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - REGISTERED_USER
  /bots/acceptDialogOffer:
    post:
      tags:
      - Bots
      summary: acceptDialogOffer
      description: "Accepts a dialog offer that was triggered either via a `BotOnboardingOfferEvent`, `BotReboardingOfferEvent` or a `BotOffboardingOfferEvent`webhook. <p> Accepting the dialog offer will result in the dialog bot participating in the offered dialog. As soon as it is the dialogs turn it will receive a`BotDialogOpenEvent` webhook.<br>"
      operationId: botsAcceptDialogOffer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsAcceptDialogOfferBody'
            examples:
              request-body:
                summary: request body
                description: Accept dialog offer
                value:
                  dialogOfferToken: AcviDb210C5BoFd6e_79oan-c-diOogO6lQerZwXgjGQ1NCQ
        required: true
      responses:
        "200":
          description: The dialogToken which can later be used to send messages and hand off the dialog.
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/cancelPendingDialogQuestions:
    post:
      tags:
      - Bots
      summary: cancelPendingDialogQuestions
      description: Cancels all pending questions in a bot dialog.<br>
      operationId: botsCancelPendingDialogQuestions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsCancelPendingDialogQuestionsBody'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/cancelPendingQuestion:
    post:
      tags:
      - Bots
      summary: cancelPendingQuestion
      description: "Cancels a bot's question message. If the message is not from a bot, the call will throw an error.<br>"
      operationId: botsCancelPendingQuestion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsCancelPendingQuestionBody'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/create:
    post:
      tags:
      - Bots
      summary: create
      description: "Creates a new dialog bot that can be used for conversation onboarding, reboarding and offboarding.<br>"
      operationId: botsCreate
      requestBody:
        description: The dialog bot to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DialogBotData'
            examples:
              create-for-visitors-onboarding:
                summary: create for visitors onboarding
                description: Create a new dialog bot
                value:
                  $_type: DialogBotData
                  id: null
                  creationTimestamp: null
                  modificationTimestamp: null
                  version: null
                  accountId: null
                  name: test-bot-1
                  description: null
                  botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                  webhookStatus: INACTIVE
                  webhookEndpoint: https://test.unblu.com
                  webhookSecret: null
                  onboardingOrder: 10
                  reboardingOrder: 10
                  offboardingOrder: 10
                  onboardingFilter: VISITORS
                  reboardingEnabled: false
                  offboardingFilter: NONE
                  needsCounterpartPresence: false
                  messageStateHandledExternally: false
                  onTimeoutBehavior: HAND_OFF
        required: true
      responses:
        "200":
          description: The created dialog bot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotData'
              examples:
                create-for-visitors-onboarding:
                  summary: create for visitors onboarding
                  description: New dialog bot
                  value:
                    $_type: DialogBotData
                    id: c1a-ED06Dbat9daFBtC4l85
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    name: test-bot-1
                    description: null
                    botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                    webhookStatus: INACTIVE
                    webhookEndpoint: https://test.unblu.com
                    webhookSecret: null
                    onboardingOrder: 10
                    reboardingOrder: 10
                    offboardingOrder: 10
                    onboardingFilter: VISITORS
                    reboardingEnabled: false
                    offboardingFilter: NONE
                    needsCounterpartPresence: false
                    messageStateHandledExternally: false
                    onTimeoutBehavior: HAND_OFF
        default:
          $ref: '#/components/responses/ErrorResponse'
      callbacks:
        bot.dialog.closed:
          '{$request.body#/endpoint}':
            post:
              summary: bot.dialog.closed
              description: "Event emitted when a dialog between a person and a bot closes. <br> After this event has been received, no further messages can be sent in this dialog.<br> It should be used to clean up all resources connected to this dialog. <p> <b>Note:</b> This event may be sent before the bot actively hands of the dialog if i.e. the conversation is ended beforehand or the counterpart leaves the conversation. <p> This event will only be delivered to the dialog bots that accepted dialog offer for this dialog beforehand."
              operationId: botDialogClosedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogClosedEvent'
              responses:
                "200":
                  description: OK
        bot.dialog.counterpart_changed:
          '{$request.body#/endpoint}':
            post:
              summary: bot.dialog.counterpart_changed
              description: "Event emitted when the counterpart person of dialog changes during a dialog.<br> This can only happen if a anonymous person that is in a dialog logs in / authenticates during the dialog and is changed to an authenticated person.<br> In this case the person ID and all details will switch to a authenticated person and all subsequent messages will be sent by that person, the dialog including the dialog token will stay the same and go on.<br> <p> This event will only be delivered to the dialog bots that accepted dialog offer for this dialog beforehand."
              operationId: botDialogCounterpartChangedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogCounterpartChanged'
              responses:
                "200":
                  description: OK
        bot.dialog.message:
          '{$request.body#/endpoint}':
            post:
              summary: bot.dialog.message
              description: Event emitted when a new message in a dialog between a person and a bot is sent. <p> This event will only be delivered to the dialog bots that accepted dialog offer for this dialog beforehand.
              operationId: botDialogMessageCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogMessageEvent'
              responses:
                "200":
                  description: OK
        bot.dialog.message_state:
          '{$request.body#/endpoint}':
            post:
              summary: bot.dialog.message_state
              description: Event emitted when a message in a dialog between a person and a bot is marked as delivered/read. <p> This event will only be delivered to the dialog bots that accepted dialog offer for this dialog beforehand.
              operationId: botDialogMessageStateCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogMessageStateEvent'
              responses:
                "200":
                  description: OK
        bot.dialog.opened:
          '{$request.body#/endpoint}':
            post:
              summary: bot.dialog.opened
              description: "Event emitted when a dialog between a person and a bot starts. <br> After this event has been received, messages may be sent in this dialog using the passed dialogToken <p> This event will only be delivered to the dialog bots that accepted dialog offer for this dialog beforehand."
              operationId: botDialogOpenedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogOpenEvent'
              responses:
                "200":
                  description: OK
        bot.offboarding_offer:
          '{$request.body#/endpoint}':
            post:
              summary: bot.offboarding_offer
              description: "Event sent when a person offboards a conversation, giving the bot a chance to participate in the offboarding of this person. <p> This may be triggered by several things: <ul> <li><b>A person leaves a conversation:</b> A bot can participate in the offboarding process of this person.</li> <li><b>A conversation is ended:</b> A bot can participate in the offboarding process for every person in the conversation.</li> </ul> A bot can accept or decline the dialog offer by responding via the bot web API with the given `offboardingToken`. <p> <b>Note:</b> <ul> <li>if the offboarding person does not fit the offboarding filter defined in the `DialogBot` the webhook will not be sent to it's endpoint.</li> <li>the bot MUST respond to this webhook or else the offboarding person will have to wait for a timeout before it can proceed it's offboarding</li> </ul>"
              operationId: botOffboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotOffboardingOfferEvent'
              responses:
                "200":
                  description: OK
        bot.onboarding_offer:
          '{$request.body#/endpoint}':
            post:
              summary: bot.onboarding_offer
              description: "Event sent when a person joins a conversation, giving the bot a chance to participate in the onboarding of this person. <p> A bot can accept or decline the dialog offer by responding via the bot web API with the given `onboardingToken`. <p> <b>Note:</b> <ul> <li>if the onboarding person does not fit the onboarding filter defined in the `DialogBot` the webhook will not be sent to it's endpoint.</li> <li>the bot MUST respond to this webhook or else the onboarding person will have to wait for a timeout before it can proceed it's onboarding</li> </ul>"
              operationId: botOnboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotOnboardingOfferEvent'
              responses:
                "200":
                  description: OK
        bot.reboarding_offer:
          '{$request.body#/endpoint}':
            post:
              summary: bot.reboarding_offer
              description: "Event sent when a person writes a message to an unassigned conversation, giving the bot a chance to participate in the reboarding of this person. <p> A bot can accept or decline the dialog offer by responding via the bot web API with the given `reboardingToken`. <p> <b>Note:</b> <ul> <li>if the reboardingEnabled flag in `DialogBot` is disabled, the webhook will not be sent to it's endpoint.</li> <li>the bot MUST respond to this webhook or else the reboarding person will have to wait for a timeout before it can proceed it's reboarding</li> </ul>"
              operationId: botReboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotReboardingOfferEvent'
              responses:
                "200":
                  description: OK
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/declineDialogOffer:
    post:
      tags:
      - Bots
      summary: declineDialogOffer
      description: "Declines a dialog offer that was triggered either via a `BotOnboardingOfferEvent`, `BotReboardingOfferEvent` or a`BotOffboardingOfferEvent` webhook. <p> No further webhooks will be sent for this dialog.<br>"
      operationId: botsDeclineDialogOffer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsDeclineDialogOfferBody'
            examples:
              request-body:
                summary: request body
                description: Decline a dialog offer
                value:
                  dialogOfferToken: AcviDb210C5BoFd6e_79oan-c-diOogO6lQerZwXgjGQ1NCQ
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/delete:
    delete:
      tags:
      - Bots
      summary: delete
      description: Deletes an existing dialog bot<br>
      operationId: botsDelete
      parameters:
      - name: id
        in: query
        description: The ID of the dialog bot which should be deleted
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/dialogMessageDelivered:
    post:
      tags:
      - Bots
      summary: dialogMessageDelivered
      description: Marks a message as delivered to the bot.<br> <br> <b>Note:</b> If the message is also read use the `dialogMessageRead` end point directly as it will also mark the message as delivered.<br>
      operationId: botsDialogMessageDelivered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsDialogMessageDeliveredBody'
            examples:
              request-body:
                summary: request body
                description: Mark a message as delivered
                value:
                  dialogToken: AcviDb210C5BoFd6e_79oan-c-daOogO9iQmqUbgNzZN4X2A
                  messageId: mGesYagET_2GipaDGinA9A
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/dialogMessageRead:
    post:
      tags:
      - Bots
      summary: dialogMessageRead
      description: "Marks a message as read to the bot.<br> <br> <b>Note:</b> This will also mark the message as delivered, if this hasn't happened yet.<br>"
      operationId: botsDialogMessageRead
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsDialogMessageReadBody'
            examples:
              request-body:
                summary: request body
                description: Mark a message as read
                value:
                  dialogToken: AcviDb210C5BoFd6e_79oan-c-daOogO9iQmqUbgNzZN4X2A
                  messageId: mGesYagET_2GipaDGinA9A
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/finishDialog:
    post:
      tags:
      - Bots
      summary: finishDialog
      description: "Ends the dialog. Depending on the reason given and whether the dialog takes place during onboarding, reboarding, or offboarding, this will have specific effects. See the list below. <p> <b>Reason: `EBotDialogFinishReason.HAND_OFF`:</b><br> <ul> <li><b>Onboarding:</b> <ul> <li><b>Next Bot:</b> a further bot takes over the onboarding. <li><b>Activate Participation:</b> If no further bots are in the queue the participation is activated. For inbound requests this is the point where the conversation is added to the queue. For PIN conversation and invitations the person is simply placed into the conversation and can actively participate. </ul> <li><b>Reboarding:</b> <ul> <li><b>Next Bot:</b> a further bot takes over the reboarding. <li><b>Requeue Conversation:</b> If no further bots are in the queue the conversation is put back into the queue. </ul> <li><b>Offboarding:</b> <ul> <li><b>Next Bot:</b> a further bot takes over the offboarding. <li><b>End Participation:</b> If no further bots are in the queue the participation is ended and the offboarding person can no longer access it. </ul> </ul> <b>Reason: `EBotDialogFinishReason.SOLVED`:</b><br> <ul> <li><b>Onboarding:</b> <ul> <li><b>Unassign Conversation:</b> The conversation will be put in unassigned state and therefore will not be added to the queue as the problem is solved. New messages to the conversation will start reboarding. </ul> <b>Reboarding:</b> <ul> <li><b>Unassign Conversation:</b> The conversation will be put in unassigned state and therefore will not be added to the queue as the problem is solved. New messages to the conversation will start reboarding again. </ul> <b>Offboarding:</b> <ul> <li><b>End Participation:</b> Independent if there are further bots in the queue the participation is ended and the offboarding person can no longer access it. </ul> </ul> <b>Reason: `EBotDialogFinishReason.ABORTED`:</b><br> <ul> <li><b>Onboarding:</b> <ul> <li><b>Offboard Participant:</b> The participant is directly moved to the offboarding phase and won't be allowed to enter the conversation. </ul> <b>Reboarding:</b> <ul> <li><b>Unassign Conversation:</b> The participant is directly moved to the offboarding phase and won't be allowed to enter the conversation. </ul> <b>Offboarding:</b> <ul> <li><b>End Participation:</b> Independent if there are further bots in the queue the participation is ended and the offboarding person can no longer access the conversation. </ul> </ul><br>"
      operationId: botsFinishDialog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsFinishDialogBody'
            examples:
              request-body:
                summary: request body
                description: Hand off the dialog to an agent
                value:
                  dialogToken: AcviDb210C5BoFd6e_79oan-c-daOogO9iQmqUbgNzZN4X2A
                  reason: HAND_OFF
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/getByName:
    get:
      tags:
      - Bots
      summary: getByName
      description: Searches for an existing dialog bot with the given name.<br>
      operationId: botsGetByName
      parameters:
      - name: name
        in: query
        description: Name of the dialog bot.
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "200":
          description: The dialog bot with the given name or <code>null</code> if none is found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotData'
              examples:
                get-by-name-bot:
                  summary: get by name bot
                  description: Dialog bot
                  value:
                    $_type: DialogBotData
                    id: c1a-ED06Dbat9daFBtC4l85
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    name: test-bot-1
                    description: null
                    botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                    webhookStatus: INACTIVE
                    webhookEndpoint: http://test.webhook.com
                    webhookSecret: null
                    onboardingOrder: 10
                    reboardingOrder: 10
                    offboardingOrder: 10
                    onboardingFilter: NONE
                    reboardingEnabled: false
                    offboardingFilter: NONE
                    needsCounterpartPresence: false
                    messageStateHandledExternally: false
                    onTimeoutBehavior: HAND_OFF
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/pingWebhook:
    post:
      tags:
      - Bots
      summary: pingWebhook
      description: Emits a `WebhookPingEvent` on the configured webhook for the dialog bot.<br>
      operationId: botsPingWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsPingWebhookBody'
            examples:
              request-body:
                summary: request body
                description: Send a ping event for the given bot
                value:
                  dialogBotId: c1a-ED06Dbat9daFBtC4l85
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-legacy-get: "true"
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/read:
    get:
      tags:
      - Bots
      summary: read
      description: Reads an existing dialog bot.<br>
      operationId: botsRead
      parameters:
      - name: id
        in: query
        description: The ID of the dialog bot.
        required: false
        schema:
          type: string
        style: form
        explode: true
      responses:
        "200":
          description: The dialog bot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotData'
              examples:
                read-bot:
                  summary: read bot
                  description: Dialog bot
                  value:
                    $_type: DialogBotData
                    id: c1a-ED06Dbat9daFBtC4l85
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    name: test-bot-1
                    description: null
                    botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                    webhookStatus: INACTIVE
                    webhookEndpoint: http://test.webhook.com
                    webhookSecret: null
                    onboardingOrder: 10
                    reboardingOrder: 10
                    offboardingOrder: 10
                    onboardingFilter: NONE
                    reboardingEnabled: false
                    offboardingFilter: NONE
                    needsCounterpartPresence: false
                    messageStateHandledExternally: false
                    onTimeoutBehavior: HAND_OFF
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/restrictDialogCounterpart:
    post:
      tags:
      - Bots
      summary: restrictDialogCounterpart
      description: Limits the length of a message the counterpart can send to the bot in a dialog. <p> The value is reset automatically when the bot hands off the dialog.<br>
      operationId: botsRestrictDialogCounterpart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsRestrictDialogCounterpartBody'
        required: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/search:
    post:
      tags:
      - Bots
      summary: search
      description: Search for dialog bots in the current account<br>
      operationId: botsSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DialogBotQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/sendDialogMessage:
    post:
      tags:
      - Bots
      summary: sendDialogMessage
      description: Sends a message as a bot into an ongoing dialog. <p> It can only be used after the bot received the `BotDialogOpenEvent` webhook for this dialog.<br>
      operationId: botsSendDialogMessage
      requestBody:
        description: The message to send
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotDialogPostMessage'
        required: true
      responses:
        "200":
          description: The action id of the message
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-entry-path: INTERNAL
      x-required-role:
      - ADMIN
  /bots/sendMessage:
    post:
      tags:
      - Bots
      summary: sendMessage
      description: Sends a message to a conversation as a bot. <p> This can be used at any time during a conversation. It is not related to bot dialogs.<br>
      operationId: botsSendMessage
      requestBody:
        description: The message to send
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotPostMessage'
            examples:
              send-card-message:
                summary: send card message
                description: Send card message from the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                  - PtwoVi1O-2G9FFCR_rZLKQ
                  internal: false
                  messageData:
                    $_type: CardPostMessageData
                    type: CARD
                    fallbackText: This is the plain body text
                    imageUrl: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC"
                    imageAltText: test image
                    title: Title
                    body: This is the **body text** with markdown
                    bodyTextType: MARKDOWN
                    actions:
                    - $_type: MessageAction
                      actionType: LINK_INTERNAL
                      label: Unblu homepage
                      value: https://unblu.com
                    - $_type: MessageAction
                      actionType: LINK_EXTERNAL
                      label: Wikipedia
                      value: https://www.wikipedia.org/
                    - $_type: MessageAction
                      actionType: LINK_COBROWSABLE
                      label: Cobrowse Unblu homepage
                      value: https://unblu.com
                    - $_type: MessageAction
                      actionType: REPLY_MESSAGE
                      label: More info
                      value: Could you provide me with more info?
                    quickReplies:
                    - $_type: QuickReply
                      text: Thank you
                    - $_type: QuickReply
                      text: "Great, that helped a lot"
              send-card-with-techid-message:
                summary: send card-with techid message
                description: Send card message from the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                  - PtwoVi1O-2G9FFCR_rZLKQ
                  internal: false
                  messageData:
                    $_type: CardPostMessageData
                    type: CARD
                    fallbackText: This is the plain body text
                    imageUrl: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC"
                    imageAltText: test image
                    title: Title
                    body: This is the **body text** with markdown
                    bodyTextType: MARKDOWN
                    actions:
                    - $_type: MessageAction
                      actionType: REPLY_MESSAGE_WITH_TECHNICAL_VALUE
                      label: Start over
                      value: tech-id-4711
                    quickReplies:
                    - $_type: QuickReply
                      text: Thank you
                    - $_type: QuickReply
                      text: "Great, that helped a lot"
              send-file-message:
                summary: send file message
                description: Send file message from the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                  - PtwoVi1O-2G9FFCR_rZLKQ
                  internal: false
                  messageData:
                    $_type: FilePostMessageData
                    type: FILE
                    fallbackText: Picture file testImage.png
                    fileName: testImage.png
                    caption: See file below
                    captionType: MARKDOWN
                    fileData: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC"
                    quickReplies:
                    - $_type: QuickReply
                      text: Thank you
                    - $_type: QuickReply
                      text: I meant something else
              send-list-message:
                summary: send list message
                description: Send list message from the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                  - PtwoVi1O-2G9FFCR_rZLKQ
                  internal: false
                  messageData:
                    $_type: ListPostMessageData
                    type: LIST
                    fallbackText: This is the plain body text
                    header:
                      $_type: MessageHeader
[...]
